.auth-container {
     margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  justify-self: center; 
}

.auth-form {
     display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  
  padding: 1rem;
  color: white;
  background: #292929;

  
}

.auth-form >* {
    margin: 0;
}

.auth-text-button {
    margin:0.5rem;
  background: none;
  border: none;
  padding: 0;
  color: rgb(125, 125, 126);
  cursor: pointer;
  text-decoration: underline;
  font: inherit;
  font-size:0.9rem
}
.auth-text-button:hover {
  color: #ffd900;
}

.auth-text-button:focus,
.auth-text-button:focus-visible {
  outline: none
}