.auth-container {
     margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  justify-self: center; 
}

.auth-form {
     display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  
  padding: 1rem;
  color: white;
  background: #292929;

  
}

.auth-form >* {
    margin: 0;
}

.auth-text-button {
    margin:0.5rem;
  background: none;
  border: none;
  padding: 0;
  color: rgb(125, 125, 126);
  cursor: pointer;
  text-decoration: underline;
  font: inherit;
  font-size:0.9rem
}
.auth-text-button:hover {
  color: #ffd900;
}

.auth-text-button:focus,
.auth-text-button:focus-visible {
  outline: none
}

.auth-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  display: flex;
  align-items: center;   
  justify-content: center; 
  color: white;
}
