.user-set-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  color:rgba(255, 255, 255, 0.87);
}

.user-set-item {
  background-color: #2c2c2c;
  padding: 2rem;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-set-item p{
margin-top: 0.7rem;
margin-bottom: 0.7rem;
}

.user-set-item h1{
margin-bottom: 1.7rem;
}

.user-set-item div{
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  display: flex;
  gap: 1rem;
}



.user-set-text-button {
  margin: 0.7rem;
  margin-left: 0;
  background: none;
  border: none;
  padding: 0;
  color: rgb(125, 125, 126);
  cursor: pointer;
  text-decoration: underline;
  font: inherit;
  font-size: 0.9rem
}

.user-set-text-button:hover {
  color: #ffd900;
  ;
}

.user-set-save-button {
  margin-top: 0.7rem;
}

@media (max-width: 768px) {
  .user-set-item {
    width: 85%;
  }
}